@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #141418;
    --white: #faf7f6;
    --foreground-rgb: 20, 20, 24;
    --background-start-rgb: 250, 247, 246;
    --background-end-rgb: 224, 215, 213;
}

@media (prefers-color-scheme: dark) {
    :root {
        --black: #e0d7d5;
        --white: #232121;
        --foreground-rgb: 224, 215, 213;
        --background-start-rgb: 35, 33, 33;
        --background-end-rgb: 20, 20, 24;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

::selection {
    color: var(--white);
    background: #FF4100;
}

::-moz-selection {
    color: var(--white);
    background: #FF4100; /* firefox code */
}
